.content-container {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1980px) {
    .content-container {
        display: flex;
        flex-direction: column;
        width:1980px;
        justify-content: center;
    }
    .sliderp-box{
        width:25%;
        height: auto;
        position: relative;
        text-align:center;
        transition: 1s;
    }
    .sliderp-box img{
        width:100%;
        height: 950px;
    }
}
@media screen and (max-width: 1366px) {
    .content-container {
        display: flex;
        left:0;
        flex-direction: column;
        padding: 0;
        width:1366px;
        justify-content: center;
    }
    .sliderp-box{
        width:25%;
        height: auto;
        position: relative;
        text-align:center;
        transition: 1s;
    }
    .sliderp-box img{
        width:100%;
        height: 950px;
    }
}
@media screen and (max-width: 600px) {
    .content-container {
        display: flex;
        left:0;
        flex-direction: column;
        padding: 0;
        width:600px;
        justify-content: center;
    }
    .sliderp-box{
        width:25%;
        height: auto;
        position: relative;
        text-align:center;
        transition: 1s;
    }
    .sliderp-box img{
        width:100%;
        height: 400px;
    }
}
.sliderprincipal{
    position: relative;
    z-index: 1; 
    background-color: #000; 
 
}
/* Carrossel Principal */
section.sliderprincipal{
    margin:0;
    width:100%;
    /* height: 90%; */
    padding: 0;
    overflow: hidden;


}
.sliderp-content{
    width:400%;
    height: auto;
    display:flex;
}

.sliderp-content input{
display: none;
}



.nav-manual, .nav-auto{
    position: absolute;
    width:100%;
    margin-top: 47%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #fff;
    padding:10px;
    cursor:pointer ;
    border-radius: 50%;
    transition: 0.3s;

}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .nav-auto .auto-btn1{
background-color: #fff;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #fff;
    }
    
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #fff;
    }

#radio1:checked ~ .primeiro{
        margin-left: 0%;
    }

#radio2:checked ~ .primeiro{
        margin-left: -25%;
    }

#radio3:checked ~ .primeiro{
        margin-left: -50%;
    }