.galeria-produtos{
    margin-top: 15vh;
    width: 1300px;
    margin:10%;
    margin-bottom: 0;
    padding: 15px;
}
.filtrosgaleria-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 10vh;
    background-color: #ffffff;
    padding: 25px;
    
}

.filtrosgaleria-produtos select, 
.filtrosgaleria-produtos input[type="number"] {
    padding: 10px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease;
    cursor: pointer;
}

.filtrosgaleria-produtos select:hover,
.filtrosgaleria-produtos input[type="number"]:hover {
    border: 1px solid #555;
}

.price-range {
    margin-top: 20px;
}

.price-range input {
    width: 80px;
}

.titulodapag h1{
    font-size: 60px;
   justify-content: center;
}






/* galeria em si */
.galeria-container{
    width: 1300px;
    margin-left:10%;
    margin-right: 10%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.produto {
    width: 23%;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.produto:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.imagem {
    width: 100%;
    height: auto;
    border: 8px solid transparent;
    transition: border 0.3s ease;
}

.produto:hover .imagem {
    border: 8px solid rgba(169, 169, 169, 0.7);
}

.adicionar {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ad5d12;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.produto:hover .adicionar {
    display: block;
    opacity: 1;
}

.coracao {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url('imagenscss/heart-outline.svg');
    background-size: cover;
    cursor: pointer;
    z-index: 2;
}

.coracao.favorito {
    background-image: url('imagenscss/heart.svg');
}

.mostrar-mais {
    margin: 20px;
    padding: 10px 20px;
    background-color: #e7d0ac;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

h2 a{
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-size: 40px;
    color:black;
}
h3{
    font-family: 'Anybody', cursive;
    padding-bottom: 5px;
}