section.tiposderoupa{
    background-color: #c3c3c3;
    margin-top: 1px;
    /*margin-top: 50vh;  espaço suficiente abaixo do header  */
    position: relative; /* para que o z-index funcione */
    z-index: 1; /* abaixo do header */
}
section.tiposderoupa {
    background-color:var(--cinza2);
    /*margin-top: 100vh;  Adicione um espaçamento equivalente à altura do viewport */
}
.carrossel-container {
    width: 150%;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 8%;
   overflow: hidden;
    position: relative;
}

@media screen and (max-width: 1980px) {
    .carrossel-container {
        width: 150%;
        width: 1980px;
        margin: 0 auto;
        padding-top: 3%;
        padding-bottom: 8%;
       overflow: hidden;
        position: relative;
    }
    
    .tiposderoupa-slide {
        flex: 0 0 23%;
        margin-right: 10%;
        margin-bottom: 20px;
        width:269px;
        height: 544px;
        padding: 10px;
        background-color: aqua;
        text-align: center;
    }
    .prev, .next {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        font-size: 30px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px 15px;
        outline: none;
        z-index:4;
    }
}
@media screen and (max-width: 1366px) {
    .carrossel-container {
        width: 150%;
        gap:5%;
        width: 980px;
        margin: 0 auto;
        padding-top: 3%;
        padding-bottom: 8%;
       overflow: hidden;
        position: relative;
    }

    .tiposderoupa-slide {
        flex: 0 0 23%;
        margin-right: 10%;
        margin-bottom: 20px;
        width:269px;
        height: 544px;
        padding: 10px;
        background-color: aqua;
        text-align: center;
    }
    .prev, .next {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        font-size: 30px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 3px 15px;
        outline: none;
        z-index:2;
    }
}
@media screen and (max-width: 600px) {
    .carrossel-container {
        width: 150%;
        gap:5%;
        width:220px;
        margin: 0 auto;
        padding-top: 3%;
        padding-bottom: 8%;
       overflow: hidden;
        position: relative;
    }

    .tiposderoupa-slide {
        flex: 0 0 23%;
        margin-right: 2%;
        margin-bottom: 20px;
        width:200px;
        height: 544px;
        padding: 10px;
        background-color: aqua;
        text-align: center;
    }
    .prev, .next {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        font-size: 30px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 3px 15px;
        outline: none;
        z-index:2;
    }
}




.content-container .carrossel {
    display: flex;
    transition: all 0.5s ease;
}

.tiposderoupa-slide {
    flex: 0 0 25%;
    text-align: center;
}

.tiposderoupa-slide img {
    max-width: 100%;
    height: auto;
}

.tiposderoupa-slide h3 {
    margin-top: 10px;
    font-family: 'Anybody', cursivo;
}

/* Estilos dos botões de navegação */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    outline: none;
}

.prev {
    left: 0%;
}

.next {
    right: 0%;
}

h3.tiposderoupa{
    text-decoration: none;
    color: #000000;
    font-family: 'Bebas Neue', sans-serif;
}
a{
    text-decoration: none;
    color: #000000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}

img.imagem {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* border: 1px solid #ffd700; */
}



img.imagem {
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(0.8); /* filtro de redução de brilho  */
}

img.imagem:hover {
    transform: scale(1.05); /* Aumenta a imagem em hover */
    filter: brightness(1);
    
}
h1 .novidades{
    font-family: 'Bebas Neue';
    font-size: x-large;
}