:root {
    --color1: #10dbff;
    --color2: #8b8a35;
    --color3: #bd544f;
    --color4: #aefeff;
    --black: #f4cbcb;
    --white: #6d3030;
    --lightgray: #d3d3d3;
    --red: rgb(238, 62, 62);
  }