/* HEADER */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300;500&display=swap');


.product-thumb{
  width:180px;
  height:280px;
}
.ARROW{
color:black;
}

product-image-type A{
  text-decoration: NONE;
  COLOR:BLACK;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  text-align: center;
  color: #fff;
}

/* PRODUCTS */
.product {
  position: relative;
 overflow: hidden;
  padding: 20px;
}

.product-category {
  margin-top: 5%;
  padding: 0 10vw;
  font-size: 50px;
  font-weight: 200px;
  margin-bottom: 40px;
  font-family: 'BEBAS NEUE';
  text-align: center;
  justify-content: center;
  /* text-transform: capitalize; */
}

.product-container {
  align-items: center;
  padding: 0 10vw;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  /* scroll-behavior: smooth;  */
  gap: 25px;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 300px;
  height: 700px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #b3b3b3;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 3;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}


.avaliative-stars{
  width:140px;
}
.avaliative-stars ion-icon{
  
color:rgb(255, 200, 0);
font-size: 0.6em; /* 5% a menos que o valor original (1.23em) */
transition: .2s;

}
.estrelas-favoritar{
  width:240px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.coracao-favoritar ion-icon{
  color:black;
  font-size: 0.6em;
  width:50px;
  height:50px;
}



/* TIPOS DE ROUPA */

.tiposderoupa button{
  COLOR:BLACK;

}
/* Aqui estão as regras CSS para telas com largura máxima de 1000px */
@media screen and (max-width: 1000px) {
  .product-container {
    padding: 0 5vw; /* Reduz o padding horizontal */
  }

  .product-card {
    width: 200px; /* Reduz a largura dos cards */
    height: 500px; /* Reduz a altura dos cards */
    margin-right: 20px; /* Reduz a margem entre os cards */
  }

  .product-image {
    height: 250px; /* Reduz a altura das imagens */
  }

  .product-info {
    height: 50px; /* Reduz a altura da informação do produto */
  }

  .product-info h2 {
    font-size: 16px; /* Reduz o tamanho da fonte */
  }
  .coracao-favoritar ion-icon{
    color:black;
    font-size: 0.6em;
    width:40px;
    height:40px;
    margin-right: 30px;
  }
}
