html,
body {
  position: relative;
  height: 100%;
}




.swiper-slide {
  margin: 5%;
  /* width: 287PX;
  HEIGHT:544PX;  N FUNCIONOU :(*/
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and ( max-width:1980px) {
  .swiper {
    margin: 5%;
    width: 80%;
    height: 100%;
  }
  
}
@media screen and ( max-width:600px) {
  .swiper {
    margin: 5%;
    width: 80%;
    height: 70%;
  }
  .swiper-pagination{
    margin-top: 25%;
  }
}